.axis path, .axis line {
    fill: none;
    stroke: #fff;
  }
.axis text {
  	font-size: 13px;
  }
.bar {
    fill: #8CD3DD;
  }
.bar:hover {
    fill: #F56C4E;
  }
svg text.label {
  fill:white;
  font: 15px;  
  font-weight: 400;
  text-anchor: middle;
}
#chartID {
	min-width: 531px;
}